.__password_field{
    width: 450px;
    height: 52px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 18px 15px 18px 33px;
    font-size: 13px;
    line-height: 16px;
    input{
        font-family: 'Inter-Regular',sans-serif;
        line-height: 16px;
        &::placeholder {
            color: #000000;
        }   
        &:-ms-input-placeholder {
            color: #000000;
        }   
        &::-ms-input-placeholder {
            color: #000000;
        }
    }
    svg{
        width: 22px;
        height: auto;
    }
}