.container{
    border: 1px solid #140C6F;
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding: 20px 16px;
    color: #140C6F;
    font-family: 'Montserrat-Bold',sans-serif;
    font-size: 20px;
    line-height: 20px;
}