.container{
    max-width: 450px;
    margin: 0 auto;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 19px;
    }
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    button{
        max-width: 450px;
    }
}

.forgot-password{
    color: #FFFFFF;
    font-family: 'Inter-Regular',sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 41px 0;
}
